<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Snip</title>
        <script src="https://unpkg.com/htmx.org@2.0.8"></script>
        <link rel="stylesheet" href="../static/index.css">


    </head>
    <body hx-boost="true">
        <h1>Snip Url Shortener</h1>
    </body>
</html>
