<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Snip</title>
        <script src="https://unpkg.com/htmx.org@2.0.8"></script>
        <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
        <link rel="stylesheet" href="../static/index.css">


    </head>
    <body hx-boost="true">
        <main class="app">
            <h1 class="title">snip url shortener</h1>

            <form class="shortener card" method="POST" hx-post="/shorten" hx-target="#urls-table" hx-swap="beforeend" hx-ext="json-enc">
                <div class="input-wrapper">
                    <label for="url">paste a long url</label>
                    <input id="url" type="text" name="url" placeholder="https://www.example.com/very/long/url" required>
                </div>


                <button type="submit">Shorten url</button>
            </form>


            <div class="card urls-table">
                <div class="urls-table-header">
                    <h2 class="urls-table-title">short urls table</h2>
                    <button hx-get="http://localhost:3000/shorten-urls" hx-trigger="load" hx-target="#urls-table">load urls</button>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Original URL</th>
                            <th>Short URL</th>
                            <th>Clicks</th>
                        </tr>
                    </thead>
                    <tbody id="urls-table">
                        
                    </tbody>
                </table>
            </div>


        </main>
    </body>

    
</html>
